/* CSS RESET */ 
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
*{
	font-family: 'Montserrat', sans-serif;
}

/* CSS RESET */


.copyright{
	width:100%;
	text-align:center;
	color:#fff;
	bottom:0;
	padding-bottom:15px;
	background-image: linear-gradient(180deg, #D9AFD9 0%, #97D9E1 100%);
	position:absolute;
}
.menu{
	width:100%;
	background-color:rgba(0,0,0,0.5);
	float:left;
}
.menu form{
	width:340px;
	float:left;
}
.menu input[type=search]{
	width:300px;
	height:45px;
	padding:10px 25px;
	background-color:#efefef;
	outline-color:#6BB7C1;
	border:none;
	border-radius:50px;
}
.menu form input[type=submit]{
	position:absolute;
	width:75px;
	height:45px;
	background-color:#6BB7C1;
	outline-color:#6BB7C1;
	border:none;
	border-radius:50px;
	font-size:18px;
	color:#fff;	
	margin-left:-35px;
}
.menu ul{
	float:right;
}
.menu ul li{
	float:left;
	list-style-type:none;
	line-height:45px;
	padding:0 15px;
	cursor:pointer;
}
.menu ul li img{
	width: 40px;
	border-radius: 40px;
}
.menu ul li:last-child:hover ul{
	display:block;
	transition:0.5s display;
}
.menu ul li a{
	text-decoration:none;
	color:#646464;
}
.menu ul li ul{
	display:none;
	position:absolute;
	width:180px;
	background:#fff;
	top:55px;
	border:1px solid #aaa;
	padding:0px;
	right:50px;
	transition:0.5s display;
}
.menu ul li ul li{
	border-bottom:1px solid #aaa;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	transition:0.5s background-color;
}
.menu ul li ul li:hover{
	background-color:#f5f5f5;
}
.menu ul li ul li:last-child{
	border:none;
	background-color:#DC143C;
	color:#fff;
}
.menu ul li ul li:last-child:hover{
	background-color:#bd0f31;
	transition:0.5s background-color;
}
.menu ul li ul li:last-child a{

	color:#fff;
}


.body{
	width:100%;
	margin-top:65px;
	float:left;
}
.body table{
	width:90%;
	margin:50px 5%;
	background-color:#fff;
	border-radius:5px;
	border-spacing:0px;
}
.body table td, table th{
	padding:40px 20px;
}
.table>thead{
	background:#fff;
}
.table thead th{
	border-bottom:1px solid #000;
}

.table>tbody>tr:nth-of-type(odd){
	background:#f2f2f2;
	
}
.table>tbody>tr>td:last-child,.table>tbody>tr>td:first-child{
	text-align:center;
}




/* profil */ 


.full_screen{
	width: 100%;
	height: 90vh;
	background-image: url("../img/background.jpg");
	background-size: cover;
}
.full_screen_color{
	width: 100%;
	height: 90vh;
	background: rgba(41,59,91,0.8);
}
.full_screen .menu{
	color: #fff;
	margin: 0px;
	height: 60px;
}
.full_screen h2{
	width: 400px;
	float: left;
	line-height: 60px;
}
.full_screen .menu ul li{
	line-height: 60px;
}
.full_screen .menu ul li ul{
	border:none;
	border-radius: 5px;
	overflow: hidden;
}

.full_screen .menu ul li a{
	color:#fff;
}
.full_screen .menu ul li img{
	width: 30px;
    border-radius: 40px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}
.full_screen .menu ul li ul li{
	line-height: 40px;
	border-bottom: 1px solid #eeeded;
}
.full_screen .menu ul li ul li:last-child{
	border: none;
}
.full_screen .menu ul li ul li:last-child a{
	color: #fff;
}
.full_screen .menu ul li ul{
	right: auto;
}
.full_screen .menu ul li ul li a{
	color: #000;
    font-size: 14px;
}
.full_screen .mid_text{
	width: 100%;
	margin-top: 40vh;
	position:absolute;
	color:#fff;

}
.full_screen .mid_text h1{
	font-size: 50px;
}
.full_screen .mid_text p{
	width: 600px;
	font-weight: lighter;
}

.container{
	width: 1280px;
	margin:0px auto;
}

.table{
  position:relative;
  border: #525f7f;
  width: 90%;

}
.bilgi{
  font-weight: lighter;
  margin: 15px;
  text-align: center;
  height: 30px;
  width: 100;
	margin-bottom: 5px;
	color:#525f7f;

}
form{
  text-align: center;
  height: 15px;
}
.profil_setting{
	width: 90%;
	background: #f7fafc;
	margin-top: -80px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 100px;
}
.profil_setting_head{
	width: 100%;

}
.profil_setting_head h2{
	font-weight: 500;
	background-color: #fff;
	padding: 20px;
	font-size: 18px;
}
.profil_settting_body{
	width: 100%;
	border-bottom: 1px solid #eeeded;
	padding-bottom: 10px;
}
.profil_settting_body p{
	margin: 22px 0px 22px 0;
	padding: 8px 0px 8px 15px;
	font-size: 14px;
	border-left: 2px solid #b8b8b8;
}
.profil_settting_body input{
	width: 95%;
	border: none;
	padding: 15px 2.5%;
	border-radius: 10px;
	outline: #eeeded;
	color:#8898aa;
}

.profil_settting_body label{
	width: 100;
	margin-bottom: 5px;
	color:#525f7f;
}
.profil_settting_body .input{
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2.5%;
}
.profil_settting_body:last-child{
	border:none;
}
.profil_settting_body .full{
	width: 95%;
}
.profil_settting_body .textarea textarea{
	width: 95%;
	border: none;
	padding: 15px 2.5%;
	border-radius: 10px;
	height: 150px;
	outline: #eeeded;
}

.profil_brief{
	width: 35%;
	float: right;
	background: #f7fafc;
	margin-top: -80px;
	border-radius: 8px;
	overflow: hidden;
}
.profi_brief_body{
	width: 100%;
	float: left;
	font-size: #525f7f;
}
.profi_brief_body .foto_brief{
	width: 150px;
	margin: 0px auto;
}
.profi_brief_body .foto_brief img{
	width: 150px;
	border-radius: 150px;
	margin: 15px 0px;
}
.profi_brief_body div{
	margin: 10px 0;
}
.profi_brief_body .smal_brief{
	width: 33%;
	float: left;
	font-weight: lighter;
	text-align: center;
	font-size: 16px;
	
}
.profi_brief_body .smal_brief .head{
	width: 100%;
	float: left;
	font-weight: normal;
	font-size: 30px;
}
.profi_brief_body .full_brief{
	width: 100%;
	text-align: center;
}
.profi_brief_body .full_brief label{
	margin-top: 20px;
}
.profi_brief_body .full_brief label:last-child{
	font-weight: normal;

}
.profi_brief_body .full_brief{
	font-size: 16px;
	float: left;
}
.profi_brief_body .full_brief .head{
	width: 100%;
	float: left;
	font-weight: bold;
}
.profi_brief_body .full_brief .head span{
	font-weight: normal;
}
.profi_brief_body .border{
	width: 95%;
	border-top: 1px solid #eeeded;
	float: left;
	font-weight: normal;
	font-size: 14px;
	padding: 2.5%;
}


